
.page {
	max-width: 8.5in;
}

.logo {
	margin: 0 0 2px 0;
	text-align: center;
}

.uppercase {
	text-transform: uppercase;
}

.bg-dark {
  background-color: black;
  color: white;
}

.dataSection {
	display: flex;
	flex-direction: row;
}

.sidelabel {
	font-size: 1rem;
	writing-mode: sideways-lr;
}


.text-center {
	text-align: center;
	/* transform: rotate(.75turn); */
}

@media screen, print {
  /* heading for screen readers, that should not appear visualy on screen */
  .reader-only {
    display: none;
  }
}

@media only speech {
  /* hide certain elements from screen readers. */
  /* for decorative text, or items that are repeated visualy that only need to be stated once. */
  .reader-hide {
    display: none;
  }
}

/* Specific to printed page. */
@media only print {
  header {
    display: none;
  }
  .page {
    page-break-after: always;
  }
  footer {
    display: none;
  }
}
