
textarea {
	width : 100%;
}

.page {
	max-width: 8.5in;
}

.logo {
	margin: 0 0 2px 0;
	text-align: center;
}

.dataSection {
	margin-top: .5rem;
}

.row {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.uppercase {
	text-transform: uppercase;
}

.bg-dark {
  background-color: black;
  color: white;
}

.dataSection {
	display: flex;
	flex-direction: row;
}

.sidelabel {
	font-size: .75rem;
	writing-mode: vertical-lr;
	transform: rotate(.5turn);
	margin-left: 0;
	margin-right: 0;
}

.dataBlock-container {
	width: 100%;
}

.dataBlock {
	width: 100%;
}
#dBlock-personalData {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.stat {
border: solid;
border-width: 1px;
}

.statLabel {
}

.statValue {
	background-color: lightgoldenrodyellow;
	border-style: none;
	width: 100%;
}

.text-center {
	text-align: center;
	/* transform: rotate(.75turn); */
}

/* Personal data Stats */
#name {
	flex: 2;
}

#profession {
	flex: 1;
}

#employer {
	flex: 2;
}

#nationality {
	flex: 1;
}

#sex {
	flex: 1;
}

#dob {
	flex: 1;
}

#educationOccupation {
	flex: 3;

}

#dsection-statistical {
	flex: 1;
}

#dsection-psychological {
	flex: 1;
}

#dBlock-statistics {
	display: grid;
	grid-template-columns: max-content auto auto max-content;
	grid-gap: 1px;
}

#dBlock-derivedAttributes {
	display: grid;
	grid-template-columns: max-content auto auto;
	grid-gap: 1px;
}


@media screen, print {
  /* heading for screen readers, that should not appear visualy on screen */
  .reader-only {
    display: none;
  }
}

@media only speech {
  /* hide certain elements from screen readers. */
  /* for decorative text, or items that are repeated visualy that only need to be stated once. */
  .reader-hide {
    display: none;
  }
}

/* Specific to printed page. */
@media only print {
  header {
    display: none;
  }
  .page {
    page-break-after: always;
  }
  footer {
    display: none;
  }
}
